QMainWindow {
    background-color: #000000ff;
}

QPushButton {
    font-family: "Comic Sans MS";
    background-color: #2b0cd8ff;
    font-size: 16px;
}

QLabel {
    font-family: "Comic Sans MS";
    font-size: 24px;
    color: #cde8f0ff;
}

QLineEdit {
    font-family: "Comic Sans MS";
    font-size: 16px;
}