QMainWindow {
    background-color: #000000ff;
}

QScrollArea {
    background: #000000ff;
}

QScrollBar:vertical {
    background: transparent;
    width: 10px;
}

QScrollBar::handle:vertical {
    background: rgba(255,255,255,0.4);
    border-radius: 5px;
}

QWidget#libraryContent {
    background: #000000ff;
}

QWidget#leftSideBarContent {
    background: #000000ff;
}

QPushButton {
    font-family: "Comic Sans MS";
    background-color: #2b0cd8ff;
    font-size: 16px;
}

QPushButton#leftSideBarButton {
    font-family: Arial;
    background: transparent;
    border: none;
    font-size: 18px;
}

QPushButton#libraryViewSongButton {
    font-family: Arial;
    background: transparent;
    border: none;
    font-size: 18px;
}

QLabel {
    font-family: "Comic Sans MS";
    font-size: 24px;
    color: #cde8f0ff;
}

QLabel#topBarLabel {
    font-family: "Arial";
    font-size: 16px;
}

QLabel#leftSideBarHeading {
    font-family: "Arial Bold";
    font-size: 20px;
}

QLabel#libraryViewArtistLabel {
    font-family: "Arial Bold";
    font-size: 20px;
}

QLineEdit {
    font-family: "Comic Sans MS";
    font-size: 16px;
}